{{!--
Boilerplate Test Template
====================

`charcoal/admin/template/boilerplate/test`

Display the object's "edit" dashboard.

This template expects a `Charcoal\Admin\Template\Boilerplate\TestTemplate` model as context.

--}}
{{>charcoal/admin/template/inc.header}}

<div class="o-flex">

    {{#sidebar}}
    <nav class="c-nav-secondary o-flex_aside">
        <header class="o-header">
            <h1 class="c-nav_heading">{{title}}</h1>
            <div class="btn-group" role="group" aria-label="...">
            {{#dashboards}}
                <button type="button" class="btn btn-default btn-sm">{{label}}</button>
            {{/dashboards}}
            </div>
        </header>
        <ul class="c-nav_list -light -secondary js-accordion">
             <li class="c-nav_list_item">
                <div class="c-nav_list_header">
                    <a class="c-nav_list_link" href="#">
                        <div class="c-nav_list_link_main">
                            <p class="c-nav_list_link_text -bold">
                                <svg class="c-nav_list_link_icon" role="img"><use xlink:href="{{url}}assets/admin/images/svgs.svg#sort"></use></svg>
                                Réorganiser
                            </p>
                        </div>
                    </a>
                </div>
            </li>
            {{!#for_loop.6}}
            <li class="c-nav_list_item js-accordion-item">
                <div class="c-nav_list_header js-accordion-header">
                    <a class="c-nav_list_link" href="#">
                        <div class="c-nav_list_link_main">
                            <p class="c-nav_list_link_text">
                                Section un
                            </p>
                        </div>
                        <div class="c-nav_list_link_plus"></div>
                    </a>
                </div>
                <div class="c-nav_list_content js-accordion-content">
                    <ul class="c-nav_list -light -secondary">
                        {{!#for_loop.4}}
                        <li class="c-nav_list_item js-accordion-item">
                            <div class="c-nav_list_header js-accordion-header">
                            <a class="c-nav_list_link" href="#">
                                    <div class="c-nav_list_link_main">
                                        <p class="c-nav_list_link_text">
                                            Section deux
                                        </p>
                                    </div>
                                    <div class="c-nav_list_link_plus"></div>
                                </a>
                            </div>
                            <div class="c-nav_list_content js-accordion-content">
                            <ul class="c-nav_list -light -secondary">
                                {{!#for_loop.4}}
                                <li class="c-nav_list_item js-accordion-item">
                                    <div class="c-nav_list_header js-accordion-header">
                                    <a class="c-nav_list_link" href="#">
                                            <div class="c-nav_list_link_main">
                                                <p class="c-nav_list_link_text">
                                                    Section trois
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                {{!/for_loop.4}}
                            </ul>
                        </div>
                        </li>
                        {{!/for_loop.4}}
                    </ul>
                </div>
            </li>
            {{!/for_loop.6}}
        </ul>
        <div class="btn-group">
            <button type="button" class="btn btn-danger">Nouvelle alerte</button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    </nav>
    {{/sidebar}}

    <div class="o-flex_main">
            <div class="o-container">
                <header class="o-header -border">
                    <h1>Boilerplate Test</h1>
                </header>

                {{>charcoal/admin/widget/feedbacks}}

                <section class="o-section">
                    <div class="row">
                        <div class="col-md-6">
                             <div class="form-group">
                                <label for="select1">Type d'alerte</label>
                                <select class="form-control" id="select1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="select2">Type de gabarit</label>
                                <select class="form-control" id="select2">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="o-section">
                    <div class="form-group">
                        <label for="select3">Catégorie de l'alerte</label>
                        <select class="form-control" id="select3">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </section>

                <section class="o-section">
                    <div class="row">
                        <div class="col-md-8">
                             <div class="form-group">
                                <label for="input1">Titre de l'alerte</label>
                                <input type="text" class="form-control" id="input1">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="date1">Date de l'alerte</label>
                                <input type="text" class="form-control" id="date1">
                            </div>
                        </div>
                    </div>
                </section>

                <section class="o-section">
                    <label for="wysiwyg">Message de l'alerte</label>
                    {{>charcoal/admin/widget/wysiwyg}}
                </section>
            </div>
    </div>
</div>

{{>charcoal/admin/template/inc.footer}}
