# Charcoal
# -------

config/config.*.*
!config/config.sample.*

# Package Managers
# -------

composer.phar
vendor/
node_modules/
bower_components/

# Documentation
# -------

docs/

# Logging
# -------

*.log
error_log
logs/

# Caches
# -------

cache/
tmp/
www/mustache_cache
