# Charcoal
# -------

/config/admin.*.*
!/config/admin.sample.*
/config/config.*.*
!/config/config.sample.*
/uploads/
/www/uploads
/var/

# Locomotive Front-end Boilerplate
# -------

loconfig.*.json
!loconfig.example.json

# Package Managers
# -------

composer.phar
/vendor/
/node_modules/
/bower_components/

# Logging
# -------

*.log
error_log
/logs/

# Testing
# -------

phpcs.xml
phpstan.neon
phpunit.xml
psalm.xml

# Caches
# -------

/.phpunit.result.cache
/cache/
/test-reports/
/tmp/
