<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="App">
            <directory suffix="Test.php">./tests/App</directory>
        </testsuite>

        <testsuite name="Charcoal">
            <directory suffix="Test.php">./tests/Charcoal</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <php>
        <env name="APPLICATION_ENV" value="testing" />
    </php>

    <logging>
        <log type="coverage-html" target="logs/tests/report" lowUpperBound="40" highLowerBound="80" />
        <log type="coverage-clover" target="logs/tests/clover.xml"/>
        <log type="testdox-html" target="logs/tests/testdox.html"/>
        <log type="testdox-text" target="logs/tests/testdox.txt"/>
    </logging>
</phpunit>
