<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true">
    <testsuites>
        <testsuite name="App Test Suite">
            <directory>./tests/App</directory>
        </testsuite>
        <!--
        <testsuite name="Charcoal Test Suite">
            <directory>./tests/Charcoal</directory>
        </testsuite>
        -->
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <html outputDirectory="build/report/" lowUpperBound="40" highLowerBound="80"/>
        </report>
    </coverage>

    <php>
        <env name="APPLICATION_ENV" value="testing"/>
    </php>
</phpunit>
