<!doctype html>
<html class="has-no-js" data-template="{{templateName}}" lang="{{lang}}"{{# debug }} data-debug="true"{{/ debug }}>
<head>
    <base href="{{baseUrl}}">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
    <meta name="description" content="{{metaDescription}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

    <link rel="stylesheet" href="assets/styles/main.css">

    {{#typekit}}
    <link rel="stylesheet" href="https://use.typekit.net/{{.}}.css">
    {{/typekit}}

    {{opengraphTags}}

    {{!-- A final chance to have custom headers tags (like styles or scripts) in the controllers --}}
    {{extraHeaderContent}}
</head>
<body>
