{{# debug }}
<pre>
{{& htmlErrorDetails }}
</pre>
{{/ debug }}
{{^ debug }}
{{>boilerplate/template/partial/header}}

<h1>{{# _t }}Page Not Found{{/ _t }}</h1>
<p>{{# _t }}The page you are looking for could not be found.{{/ _t }}</p>

{{>boilerplate/template/partial/footer}}
{{/ debug }}
