{{>boilerplate/template/partial/header}}
<!-- Start home -->

<h1>{{page_title}}</h1>

<h2>Home template.</h2>
Calling the "test" method: <strong>{{test}}</strong>


<div>
    Template name: {{templateName}}
</div>

<!-- End home -->
{{>boilerplate/template/partial/footer}}
