    <footer>
        {{ copyright }}
    </footer>

    {{! Replace this with whatever assets you end up using. }}
    <!--
    <script src="{{# withBaseUrl }}assets/scripts/app.js?v={{ assetsVersion }}{{/ withBaseUrl }}"></script>
    -->
</body>
</html>